@import "test.less";

.root {
    width: 100%;
    height: 100%;
    z-index: -3;
}

@keyframes my_test {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}

.mask{
    opacity-mask:url("s2r://panorama/images/hud/reborn/hud_custom_ti12/gold_bg_mask.psd") 0.01;
}