.image-precache {
	background-image: url("file://{images}/custom_game/map/big_map/05.png");
	background-image: url("file://{images}/custom_game/map/big_map/06.png");
	background-image: url("file://{images}/custom_game/map/big_map/13.png");
	background-image: url("file://{images}/custom_game/map/big_map/14.png");
	background-image: url("file://{images}/custom_game/map/big_map/15.png");
	background-image: url("file://{images}/custom_game/map/big_map/16.png");
	background-image: url("file://{images}/custom_game/map/big_map/21.png");
	background-image: url("file://{images}/custom_game/map/big_map/22.png");
	background-image: url("file://{images}/custom_game/map/big_map/23.png");
	background-image: url("file://{images}/custom_game/map/big_map/24.png");
	background-image: url("file://{images}/custom_game/map/big_map/25.png");
	background-image: url("file://{images}/custom_game/map/big_map/30.png");
	background-image: url("file://{images}/custom_game/map/big_map/31.png");
	background-image: url("file://{images}/custom_game/map/big_map/32.png");
	background-image: url("file://{images}/custom_game/map/big_map/33.png");
	background-image: url("file://{images}/custom_game/map/big_map/34.png");
	background-image: url("file://{images}/custom_game/map/big_map/35.png");
	background-image: url("file://{images}/custom_game/map/big_map/36.png");
	background-image: url("file://{images}/custom_game/map/big_map/41.png");
	background-image: url("file://{images}/custom_game/map/big_map/42.png");
	background-image: url("file://{images}/custom_game/map/big_map/43.png");
	background-image: url("file://{images}/custom_game/map/big_map/44.png");
	background-image: url("file://{images}/custom_game/map/big_map/45.png");
	background-image: url("file://{images}/custom_game/map/big_map/46.png");
	background-image: url("file://{images}/custom_game/map/big_map/52.png");
	background-image: url("file://{images}/custom_game/map/big_map/53.png");
	background-image: url("file://{images}/custom_game/map/big_map/54.png");
	background-image: url("file://{images}/custom_game/map/big_map/55.png");
	background-image: url("file://{images}/custom_game/map/big_map/56.png");
	background-image: url("file://{images}/custom_game/map/big_map/65.png");
	background-image: url("file://{images}/custom_game/map/big_map/66.png");
	background-image: url("file://{images}/custom_game/map/gold/floor/floor_001.png");
	background-image: url("file://{images}/custom_game/map/gold/floor/floor_002.png");
	background-image: url("file://{images}/custom_game/map/gold/floor/floor_003.png");
	background-image: url("file://{images}/custom_game/map/gold/floor/floor_004.png");
	background-image: url("file://{images}/custom_game/map/gold/floor/floor_005.png");
	background-image: url("file://{images}/custom_game/map/gold/floor/floor_006.png");
	background-image: url("file://{images}/custom_game/map/gold/floor/floor_007.png");
	background-image: url("file://{images}/custom_game/map/gold/floor/floor_008.png");
	background-image: url("file://{images}/custom_game/map/gold/floor/floor_009.png");
	background-image: url("file://{images}/custom_game/map/gold/floor/floor_010.png");
	background-image: url("file://{images}/custom_game/map/test/1.png");
	background-image: url("file://{images}/custom_game/map/test/10.png");
	background-image: url("file://{images}/custom_game/map/test/11.png");
	background-image: url("file://{images}/custom_game/map/test/12.png");
	background-image: url("file://{images}/custom_game/map/test/13.png");
	background-image: url("file://{images}/custom_game/map/test/14.png");
	background-image: url("file://{images}/custom_game/map/test/15.png");
	background-image: url("file://{images}/custom_game/map/test/16.png");
	background-image: url("file://{images}/custom_game/map/test/17.png");
	background-image: url("file://{images}/custom_game/map/test/18.png");
	background-image: url("file://{images}/custom_game/map/test/19.png");
	background-image: url("file://{images}/custom_game/map/test/2.png");
	background-image: url("file://{images}/custom_game/map/test/3.png");
	background-image: url("file://{images}/custom_game/map/test/4.png");
	background-image: url("file://{images}/custom_game/map/test/5.png");
	background-image: url("file://{images}/custom_game/map/test/6.png");
	background-image: url("file://{images}/custom_game/map/test/7.png");
	background-image: url("file://{images}/custom_game/map/test/8.png");
	background-image: url("file://{images}/custom_game/map/test/9.png");
	background-image: url("file://{images}/custom_game/map/ye_wai/cliff 0.png");
	background-image: url("file://{images}/custom_game/map/ye_wai/cliff 1.png");
	background-image: url("file://{images}/custom_game/map/ye_wai/cliff 2.png");
	background-image: url("file://{images}/custom_game/map/ye_wai/cliff 3.png");
	background-image: url("file://{images}/custom_game/map/ye_wai/cliffcorner 0.png");
	background-image: url("file://{images}/custom_game/map/ye_wai/cliffcorner 1.png");
	background-image: url("file://{images}/custom_game/map/ye_wai/cliffcorner 2.png");
	background-image: url("file://{images}/custom_game/map/ye_wai/cliffcorner 3.png");
	background-image: url("file://{images}/custom_game/map/ye_wai/cliffturn 0.png");
	background-image: url("file://{images}/custom_game/map/ye_wai/cliffturn 1.png");
	background-image: url("file://{images}/custom_game/map/ye_wai/cliffturn 2.png");
	background-image: url("file://{images}/custom_game/map/ye_wai/cliffturn 3.png");
	background-image: url("file://{images}/custom_game/map/ye_wai/grass 0.png");
	background-image: url("file://{images}/custom_game/map/ye_wai/grasscorner.png");
	background-image: url("file://{images}/custom_game/map/ye_wai/road.png");
	background-image: url("file://{images}/custom_game/map/ye_wai/roadturn.png");
	background-image: url("file://{images}/custom_game/map/ye_wai/water_a.png");
	background-image: url("file://{images}/custom_game/map/ye_wai/water_b.png");
	background-image: url("file://{images}/custom_game/map/ye_wai/water_c.png");
	background-image: url("file://{images}/custom_game/map/ye_wai/watercorner 0.png");
	background-image: url("file://{images}/custom_game/map/ye_wai/watercorner 1.png");
	background-image: url("file://{images}/custom_game/map/ye_wai/watercorner 2.png");
	background-image: url("file://{images}/custom_game/map/ye_wai/watercorner 3.png");
	background-image: url("file://{images}/custom_game/map/ye_wai/waterside 0.png");
	background-image: url("file://{images}/custom_game/map/ye_wai/waterside 1.png");
	background-image: url("file://{images}/custom_game/map/ye_wai/waterside 2.png");
	background-image: url("file://{images}/custom_game/map/ye_wai/waterside 3.png");
	background-image: url("file://{images}/custom_game/map/ye_wai/waterturn 0.png");
	background-image: url("file://{images}/custom_game/map/ye_wai/waterturn 1.png");
	background-image: url("file://{images}/custom_game/map/ye_wai/waterturn 2.png");
	background-image: url("file://{images}/custom_game/map/ye_wai/waterturn 3.png");
	background-image: url("file://{images}/custom_game/ui/background.png");
	background-image: url("file://{images}/custom_game/ui/cam.png");
	background-image: url("file://{images}/custom_game/ui/create_role.png");
	background-image: url("file://{images}/custom_game/ui/main_role_select.png");
	background-image: url("file://{images}/custom_game/ui/npc/modules_npc_fang_ju_role.png");
	background-image: url("file://{images}/custom_game/ui/npc/modules_npc_ji_shi_role.png");
	background-image: url("file://{images}/custom_game/ui/npc/modules_npc_lv_dian_role.png");
	background-image: url("file://{images}/custom_game/ui/npc/modules_npc_ma_fu_role.png");
	background-image: url("file://{images}/custom_game/ui/npc/modules_npc_peng_ren_role.png");
	background-image: url("file://{images}/custom_game/ui/npc/modules_npc_tiejiang_role.png");
	background-image: url("file://{images}/custom_game/ui/npc/modules_npc_yao_dian_role.png");
	background-image: url("file://{images}/custom_game/ui/npc/modules_npc_za_huo_role.png");
	background-image: url("file://{images}/custom_game/ui/npc/modules_npc_zhen_bao_role.png");
	background-image: url("file://{images}/custom_game/ui/rect.png");
}